*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.Header-logo {
    display: flex;
    width: 30vw;
}


.Header-nav {
    display: flex;
    flex-wrap: wrap;

    text-decoration: none;
    color: #000;
}

.Header-a 
{
    color: black;
    font-size: 1em;
    text-decoration: none;
    padding-right: 20px;
}

.Header-a:hover {
    text-decoration: underline;
}