* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-------------------
      HEADER
--------------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__img {
    width: 100px;
   
}

.header__a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 100px;
}

.header__a--selected {
    color: rgb(90, 111, 90);
    cursor: pointer;
    text-decoration: none;
}

.menu__img{
    width: 50px;
}

/*-------------------
      MAIN
--------------------*/
.contenido {
    width: 100vw;
    height: 90vw;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.galeria__img {
    width: 100%;
    height: 100%;
    padding: 10px;

}

.galeria__img--2f {
    grid-row: span 2;
}

.galeria__img--2c {
    grid-column: span 2;
}

.galeria__img--4 {
    grid-row: span 2;
    grid-column: span 2;
}

/*-------------------
      FOOTER
--------------------*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.footer__img {
    width: 150px;
    margin-top: 20%;
}

.footer__p {
    justify-content: center;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(82, 82, 82);
    padding: 50px;
}

.footer__copy {
    justify-content: center;
    font-size: 0.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(85, 85, 85);
    padding-top: 50px;
    padding-bottom: 20px;

}